.container{
  margin: 4rem;
}

.course-list {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  display: grid;
  grid-template-areas: "text";
  width:20%;
  height: auto
  /* to round the corners */
  border-radius: 18px;
  text-align: left;
  position: relative;
  padding: 1rem;
  margin: 0.9rem;
  background: white;
  border: 1px solid #f7f7f7;
  box-shadow: rgb(35, 2, 46) 0px 0px 3px 0px;
}

.course-num {
  text-align: center;
  color: #404044;
  padding: 0;
  margin:0;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 2.4rem;
}

.card:hover {
  box-shadow: 0 8px 24px -12px rgba(0,0,0,.75);
}

.course-name {
  color: #484351;
  text-align: center;
  padding-top: 0;
}

.align-center{
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .card {
    width:50%;
    display: flex;
    flex-wrap: wrap;
  }
  .course-list{
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .course-list{
    flex-direction: column;
  }
}
