/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
body {
  line-height: 25px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* background-image: url(css/roots-logo.png); */
  background: #F2F7FC
  /* #BCEBCB; */

 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #7b838a; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

  button {
    font: inherit;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #84DD63;
    outline: none;
  }

  button:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  /* inverse colors on mouse-over */
  button:hover {
    color: #84DD63;
    border-color: currentColor;
    background-color: white;
  }

  /* inverse colors on mouse-over and focus */
  button:hover,
  button:focus {
    color: #84DD63;
    border-color: currentColor;
    background-color: white;
  }

  button::-moz-focus-inner {
    border: none;
  }
