@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
}

canvas {
    /* border: solid 1px #000; */
    width: 180px;
    height: 130px;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.title {
    /* padding: 0px 250px 0px 250px; */
    padding: 0px 100px 30px 100px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.title > h2 {
    width: 100%;
}
.title h1 {
    font-size: 35px;
    letter-spacing: 8px;
    width: 500px;
    margin-left: -60px;
    margin-bottom: -10px
}
.title h2 {
    text-transform: none;
    color: #87C38F;
    padding: 8px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    color: #222;
    font-weight: 400;
    /* text-transform: uppercase; */
    /* z-index: 10; */
}
h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}
p, li {
    font-weight: 400;
    font-size: 1.1em;
    color: #555;
    line-height: 1.6em;
}
p {
    margin-bottom: 1em;
}
li {
    margin-bottom: 0.5em;
}
ul {
    list-style: none;
    padding-left: 80px;
}
li::before {
    content: "•"; 
    color: #87C38F;
    display: inline-block; 
    width: 1em;
    font-size: 1.5em;
    vertical-align: middle;
    margin-left: -1em;
}
.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: "Source Sans Pro", sans-serif;
    color: #87C38F;
}

.banner {
    background: #87C38F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 102vh;
}
.banner .block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

}
.banner h2 {
    color: white;
    font-size: 3em;
}
.banner p, .banner li {
    color: white;
    font-size: 1.3em;
}

.scroll-button {
    align-self: center;
    margin-top: 100px;
}

.block {
    margin-top: 100px;
}

section > div {
    padding: 0px 250px 100px 250px;
}

.parallax-one, .parallax-two {
    padding: 0px;
}
.parallax-one .content  {
    margin-left: 50vw;
    background: #EEE;
    padding: 60px 40px 60px 40px;
}

.parallax-two .content {
    margin-right: 50vw;
    background: #EEE;
    padding: 60px 40px 60px 40px;
}
.parallax-one h2, .parallax-two h2 {
    margin-top: 0px;
    text-align: left;
}
.parallax-one, .parallax-two {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #EEE;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
}
.parallax-one {
    background-image: url(../images/stingray3.png);
    background-position: 0px 10px;
}

.parallax-two {
    background-image: url(../images/cta.png);
    background-position: 50vw 55px;
}

@media screen and (max-width: 1200px) {
    section > div {
        padding: 30px 100px 30px 100px;
    }
}

@media screen and (max-width: 900px) {
    .parallax-one .content, .parallax-two .content {
        margin: 70vw 30px 70vw 30px;
        background: rgba(230, 230, 230, 0.9);
        padding: 30px 20px 30px 20px;
    }
    .parallax-one, .parallax-two {
        background-size: cover;
        background-position: center 55px;
    }

    .title {
        padding: 30px 20px 30px 20px;
    }
    section > div {
        padding: 0px 20px 50px 20px;
    }
}
