<footer>
  <div class="footer-container">
      <div class="col">
        <h2>TREE Lab</h2>
        <p class="footer-summary">Grow with us! We are a community of learners critically analyzing technology and its effects on society socially, politically, and pedagogically.</p>
    </div>
    <div class="col">
      <h2>Quick Links</h2>
      <ul class="quick-links">
        <li><a href="{{site.baseurl}}/projects/" class="link-text">Projects</a></li>
        <li><a href="{{site.baseurl}}/people/" class="link-text">People</a></li>
        {% comment %}
            <li><a href="{{site.baseurl}}/how-we-work/" class="link-text">How We Work</a></li>
        {% endcomment %}
            <li><a href="{{site.baseurl}}/partners/" class="link-text">Community Partners</a></li>
        <li><a href="{{site.baseurl}}/contact/" class="link-text">Contact</a></li>
      </ul>
    </div>
    <div class="col">
      <h2>Branch Out</h2>
      <ul class="quick-links">
        <li><a href="mailto:sepehr.vakil@northwestern.edu">sepehr.vakil@northwestern.edu</a></li>
      </ul>
    </div>
</div>
    <div class="copyright-details">
      <br><p>&copy; Tree Lab 2020</p>
    </div>
</footer>
