<nav>
    <ul>
        <li><a href="projects.html" {% if page.url === "/projects.html" %}class="active"{% endif %}>Projects</a></li>
        <li><a href="#" {% if page.url === "/people.html" %}class="active"{% endif %}>People</a></li>
        <li><a href="#" {% if page.url === "/about.html" %}class="active"{% endif %}>How We Work</a></li>
        <li><a href="#" {% if page.url === "/community_partners.html" %}class="active"{% endif %}>Community Partners</a></li>
        <li><a href="#" {% if page.url === "/contact.html" %}class="active"{% endif %}>Contact</a></li>
        <li><a href="tree-website-mockup.pdf" target="_blank">Wire Frames</a></li>
        <li class="desktop">
            <a href="#"><i class="fas fa-search"></i></a>
        </li>
    </ul>
</nav>
