<nav>
    <ul>
        <li><a href="{{site.baseurl}}/projects/" {% if page.url == "/projects/" %}class="active"{% endif %}>Projects</a></li>
        <li><a href="{{site.baseurl}}/people/" {% if page.url == "/people/" %}class="active"{% endif %}>People</a></li>
        <li><a href="{{site.baseurl}}/about/" {% if page.url == "/about/" %}class="active"{% endif %}>How We Work</a></li>
        <li><a href="{{site.baseurl}}/partners/" {% if page.url == "/partners/" %}class="active"{% endif %}>Community Partners</a></li>
        <li><a href="{{site.baseurl}}/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}>Contact</a></li>
        <li><a href="{{site.baseurl}}/assets/tree-website-mockup.pdf" target="_blank">Wire Frames</a></li>
        <li class="desktop">
            <a href="#"><i class="fas fa-search"></i></a>
        </li>
    </ul>
</nav>
