ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00324B;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  /* text-align: center; */
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #45B69C;
}

.active {
  background-color: #43B929;
}

li img {
  width:2.5rem;
}
