.errorImage {
  float: left;
  margin: 3rem;
}

.errorTitle {
  font-size: 2.6em;
}

.errorText {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.errorPage {
  display: flex;
  flex-direction: row;
}

p {
  line-height: 1.6rem;
}
