.card {
  display: grid;
  width: 50%;
  grid-template-areas: "text";
  text-align: center;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 4px 18px -12px rgba(0,0,0,.75);
  border: 1px solid #f7f7f7;
}

.bottom-buttons {
  display: inline-flex;
}

@media (max-width: 800px) {
  .bottom-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
  }
}
