body {
  margin:0;
}

.footer-container{
  padding-top: 100px;
  color: #fff;
}

.row{
  padding: 2em 0em 2em;
  margin:0;
  min-width: 100%;
  background-color: #41381a;
  /* background-color:#38A700; */
}

.col-md {
  display: inline-grid;
  width: 30%;
  grid-template-columns: "a a a";
  padding-left: 5rem;
}

.quick-links {
  margin-left: -2.4rem !important;
}

ul{
  list-style: none;
  line-height: 3rem;
}

a {
  color: #fff;
}

ul a:hover{
  color: #87C38F;
}

.footer-summary {
  line-height: 2rem;
}

.copyright-details {
  padding-top: 5px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-md {
      flex: 100%;
      max-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-md {
    display: column;
    width: 30%;
    padding-left: 5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-md {
    display: column;
    width: 30%;
    padding-left: 5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-md {
    display: inline-grid;
    width: 30%;
    grid-template-columns: "a a a";
    padding-left: 5rem;
    }
}
