/* Override styles in main.css */

html {
    scroll-behavior: smooth;
}
.container {
    padding: 0px;
}
main {
    margin-bottom: 0px;
}

/* Landing-specific styles */
section h2 {
    text-align: center;
}

.banner {
    background: #87C38F;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 120px 200px 120px 200px;
}

.banner a, .banner a:hover, .banner a:visited, .banner a:active {
    color: white;
    text-decoration: none;
    border-bottom: dotted 2px #fff;
}

.banner h2 {
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 60px;
}
.banner span, .banner div {
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 1.3em;
    line-height: 1.6em;
}
.banner span {
    width: 200px;
    font-weight: 600;
}
.banner div {
    width: calc(100% - 200px);
}
.banner p, .banner li {
    color: white;
    font-size: 1.3em;
}


/* .block {
    margin-top: 60px;
} */

.title {
    padding: 30px 200px 0px 200px;
}
nav {
    margin: 10px 200px 0px 200px;
    width: calc(100% - 400px);
}
section > div {
    padding: 0px 200px 100px 200px;
}

.content img {
    display: none;
}

.parallax-one, .parallax-two {
    padding: 0px;
}
.parallax-one .content  {
    margin-left: 50vw;
    background: #EEE;
    padding: 60px 40px 60px 40px;
}

.parallax-two .content {
    margin-right: 50vw;
    background: #EEE;
    padding: 60px 40px 60px 40px;
}
.parallax-one h2, .parallax-two h2 {
    margin-top: 0px;
    text-align: left;
}
.parallax-one, .parallax-two {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    position: static;
    width: 100%;
    background-color: #EEE;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    /* transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: inherit; */
}
.parallax-one {
    background-position: 0px 10px;
}

.parallax-two {
    background-position: 50vw 55px;
}

@media screen and (max-width: 1200px) {
    .title, section > div {
        padding: 0px;
    }
    .intro-text {
        padding: 0px 50px 100px 50px;
    }
    .banner {
        padding: 120px 50px 120px 50px;
    }
    nav {
        margin: 10px 50px 0px 50px;
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 900px) {
    .parallax-one .content, .parallax-two .content {
        margin: 70vw 30px 70vw 30px;
        background: rgba(230, 230, 230, 0.9);
        padding: 30px 20px 30px 20px;
    }
    .parallax-one, .parallax-two {
        background-size: cover;
        background-position: center 55px;
    }
    section > div {
        padding: 0px 20px 50px 20px;
    }
    .banner {
        padding: 80px 20px 80px 20px;
    }
    .container {
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    .parallax-one .content, .parallax-two .content {
        margin: 100vh 0px 0vw 0px;
        background: white;
    }
    .container, .intro-text {
        padding: 0px;
    }
    blockquote {
        margin-right: 0px;
        margin-left: 30px;
    }

    .banner div, .banner span {
        width: 100%;
    }
}