.masonry {
    display: grid;
    grid-gap: 30px;
    grid-auto-rows: 0;
    opacity: 0;
    transition-property: width, opacity;
    transition-duration: 3s;
    margin-top: 50px;
}
.masonry, .masonry.three {
    grid-template-columns: repeat(3, minmax(100px,1fr));
}

.masonry.two {
    grid-template-columns: repeat(2, minmax(100px,1fr));
}

.masonry h3, .masonry h4 {
    padding-left: 1rem;
    margin: 0;
}
.masonry h4 {
    margin-bottom: 1rem;
}

.masonry-item, .masonry-content {
    border-radius: 4px;
    cursor: pointer;
}

.masonry-item {
    background-color: #f9f9f9;
    /* border: solid 1px #DDD; */
    border: solid 4px transparent;
    color: #111111;
}

#project-grid .masonry-item:hover, #collaborator-grid .masonry-item:hover {
    border: solid 4px #87C38F;
}

.masonry-item img {
    width: 100%;
}
.masonry.visible {
    opacity: 1;
}

.masonry-title, .masonry-description {
    margin: 0;
}

.masonry-title {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
}

.masonry-description {
    font-size: .9rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5px;
}
.masonry .masonry-description h4 {
    padding-left: 0em;
}

@media only screen and (max-width: 1024px) {
    .masonry, .masonry.two, .masonry.three {
        grid-template-columns: repeat(2, minmax(100px,1fr));
    }
}

@media only screen and (max-width: 768px) {
    .masonry, .masonry.two, .masonry.three {
        grid-template-columns: repeat(1, minmax(100px,1fr));
    }
    .masonry-item {
        background-color: transparent;
        border: none;
        margin-bottom: 40px;
    }
    .masonry-description {
        font-size: 1.1rem;
    }
    .masonry-title {
        font-size: 1.3rem;
        font-weight: 500;
    }
}