nav {
    grid-area: menu;
    display: flex;
    background: #222;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    z-index: 101;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
    padding: 10px;
    justify-content: flex-end;
    align-content: space-around;
}
