.projects {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: work sans,Arial,sans-serif;
}
.card {
  display: grid;
  width: 30%;
  /* grid-template-columns: 300px;
  grid-template-rows: 280px 120px; */
  grid-template-areas: "image" "text";
  position: relative;
  margin: 15px;
  /* to round the corners */
  /* border-radius: 18px; */
  background: white;
  box-shadow: 0 4px 18px -12px rgba(0,0,0,.75);
  border: 1px solid #f7f7f7;
}
.card-image {
  grid-area: image;
  /* to round the corners */
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  background-size: cover;
  height: 250px;
}

.card-date{
  float: left;
  font-size: 15px;
}
/* if we do a project description */
.card-text {
  grid-area: text;
  color: #8b8b92;
  padding: 1.5rem;
}

.card-text h3 {
  color: #404044;
  font-weight: 400;
  font-size: 1.5rem;
  line-height:1.5;
}

.card-text h3:hover{
  color: #87C38F;
}

.page-arrows ul li{
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.page-arrows ul li a, .page-arrows ul li span {
  color: #280000;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 18px;
  /* to make the arrow buttons perfect circles */
  /* border-radius: 50%; */
  border: 1px solid #38A700;
}

.page-arrows ul li.active a, .page-arrows ul li.active span {
    background: #92CF73;
    color: #280000;
    border: none;
}

/* The Modal (background) */
.modal {
  display: relative; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(205,202,202,0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}
