.projects {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card {
  display: grid;
  max-width: 30%;
  /* grid-template-columns: 300px;
  grid-template-rows: 280px 120px; */
  grid-template-areas: "image" "text";

  /* to round the corners */
  /* border-radius: 18px; */
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;


  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image {
  grid-area: image;
  /* background: url("img1.jpg"); */
  /* to round the corners */
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  background-size: cover;
  /* width: 100px;*/
  height: 250px; 
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  position: relative;
  display: block; }
