body {
   margin: 0;
   font-family: Arial;
}
body, body * {
   box-sizing: border-box;
}
.mobile {
    display: none;
}
.container {
    display: grid;
    min-height: 100vh;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh auto auto 10vh;
    grid-template-areas:
        "top"
        "menu"
        "main"
        "bottom";
}

header, nav, footer, main {
   display: flex;
   border: dotted 1px #CCC;
}
header, nav, footer {
    justify-content: center;
    align-items: center;
}

main {
    min-height: 65vh;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
}
main h1 a, main h1 a:visited {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
}
main h1 a:hover {
    background: #EEE;
    border-radius: 5px;
}
header {
   grid-area: top;
   align-items: flex-end;
}
header h1 {
    margin-bottom: 0px;
}
nav {
   grid-area: menu;
}
nav ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
}
nav ul li {
    list-style: none;
    padding: 5px;
}
nav ul li a {
    padding: 5px 8px;
    border: solid 1px transparent;
}
nav ul li a.active {
    border: dotted 1px #999;
}
nav ul li a, nav ul li a:visited, nav ul li:active {
    text-decoration: none;
    color: #444;
}
nav ul li a:hover, nav ul li a:active {
    background: #EEE;
}
footer {
   grid-area: bottom;
}

section {
    /* display: flex; */
    border: dotted 1px #118AB2;
    margin: 20px 20px 0px 20px;
    flex-direction: column;
    padding: 5px;
}
main {
    grid-area: main;
}
/* main.carousel {
    height: 65vh;
} */

.logo {
    width: 170px;
    height: 100px;
}
.twitter {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}


.fa-search {
    min-width: 20px;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10vh auto auto 8vh;
        grid-template-areas:
            "top"
            "menu"
            "main"
            "bottom";
        margin: 0px;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }
    .desktop { display: none; }
    .mobile { display: flex; }

    aside, nav { display: none; }
    footer, header { border: none; }
    header, nav {
        position: fixed;
        width: 100vw;
    }
    header {
        height: 10vh;
        background: #444;
        color: white;
    }
    header h1 { font-size: 1.3em; }
    nav {
        top: 10vh;
        background: white;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    nav ul li { padding: 0px; }
    nav ul li a {
        display: flex;
        padding: 10px 18px;
    }
    header {
        align-items: center;
        justify-content: flex-start;
    }
    header i { font-size: 24px; }
    header a {
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        color: white;
    }
    main {
        background: #EEE;
        min-height: 82vh;
    }
}
