body{

}

.sidebar-content{
  border: 2px hotpink dotted;
}

.back-buttons{
  border: 2px hotpink dotted;
}

.bar-heading{

}

.side-link{

}

.course-content{
  border: 2px hotpink dotted;
}

.text-container{
  text-align: left;
  border: 2px hotpink dotted;
}

.flexRow{
  display:flex;
  flex-direction: row;
}
