body {
   margin: 0;
   font-family: Arial;
}
body, body * {
   box-sizing: border-box;
}
.mobile {
    display: none;
}
.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 15vh auto;
    grid-template-areas:
        "header"
        "logo";
}

#logo, h1 {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    grid-area: header;
}
#logo {
    margin: 0px auto;
    width: 500px;
    height: 300px;
}
