section.news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 40px;

    .left, .right {
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-top: 0px;
    }
    .left {
        width: 150px;
        font-weight: 600;
        img {
            width: 100%;
            font-weight: 600;
        }

        &.date {
            font-weight: 700;
        }

        a.featured-text {
            background: $lightGreen;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                color: white;
                text-align: center;
                font-size: 1.9em;
            }
        }
    }
    .right {
        width: calc(100% - 150px);
        padding-left: 20px;

    }
    h2 {
        margin: 0;
        margin-bottom: 5px;
    }
}