---
layout: default
---
{{content}}
<section class="contacts">
  {% for project in site.contact %}

    <div class="card">
      <div class="card-image" style="background-image: url('{{site.baseurl}}/{{ contact.filename }}');"> </div>
      <div class="card-text">
        <div class="card-heading">{{ contact.heading }}</div>
        <div class="card-details">{{ contact.details }}</div>
        <button onclick="window.location.href='{{site.baseurl}}{{contact.url}}'">{{ contact.button }}</button>
        <!-- <p>{{ project.description }}</p> -->
      </div>
    </div>
  {% endfor %}
</section>

<!-- not really sure how to template page numbers and limit to 6 or 9 cards a page-->
<!-- <script>
  var i;
  var max-card-amount = 6;
  for (i=0; i < max-card-amount.length; i++) {

  }
</script> -->
