<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>Technology Race Ethics and Equity in Education (TREE) Lab | {{ page.title }}</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169887876-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-169887876-1');
        </script>

        <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/treeLab_icon1.png" sizes="16x16">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/nav.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/footer.css">
        
        <!-- extra stylesheets -->
        {% for stylesheet in page.extra_stylesheets %}
            <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{ stylesheet }}">
        {% endfor %}
        {% for stylesheet in layout.extra_stylesheets %}
            <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{ stylesheet }}">
        {% endfor %}
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            <main>
                {% if page.layout == 'post' %}
                    <h1><a href="../news/">News</a> <span class="breadcrumb"> // </span> {{ page.title }}</h1>
                {% else %}
                    <h1>{{ page.title }}</h1>
                {% endif %}

                {{ content }}
            </main>
        </div>
        {% include footer.html %}
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/tree.js"></script>
        {% for script in layout.extra_scripts %}
            {% if script contains "http" %}
                <script type="text/javascript" src="{{ script }}"></script>
            {% else %}
                <script type="text/javascript" src="{{site.baseurl}}/assets/js/{{ script }}"></script>
            {% endif %}
        {% endfor %}
        
        <script>
            let animate = false;
            let isInteractive = true;
            {% if page.animate %}
                animate = true;
            {% endif %}
            {% if page.isInteractive %}
                isInteractive = true;
            {% endif %}

            const logo = Tree('logo', {
                lineWidth: 1.25,
                branchingDepth: 10,
                animate: animate,
                fontSize: '35px',
                speed: 1,
                delay: 1500,
                isInteractive: isInteractive,
                // showLabel: false,
                leafColor: 'rgba(135, 195, 143, 1)'
            });
        </script>
    </body>
</html>
