<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        {% if page.extra_stylesheet %}
        <link rel="stylesheet" href="assets/css/{{ page.extra_stylesheet }}">
        {% endif %}
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            {% include navigation.html %}
            <main>
                <h1>{{ page.title }}</h1>
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/tree.js"></script>
        <script>
            let animate = false;
            {% if page.animate %}
                animate = true;
            {% endif %}
            const logo = Tree('logo', {
                lineWidth: 0.5,
                fontSize: '20px',
                animate: animate,
                speed: 2,
                delay: 200
            });
        </script>
    </body>
</html>
