---
layout: default
---
{{content}}
<section class="methods">
  <h1 class="bigTitle">How We Work</h1>
  <div class="method_details">
    <p>Description of day to day stuff</p>
    <h2>We study the intersections of race and social justice.</h2>
    <p>(What opportunities we have)(How are we organized)(Civic engagement specifics)</p>
  </div>
  <div class="apply_how_we_work">
    <h2>Interested in working with us?</h2>
    <p>Apply! Tell us how you want to make an impact in technology and ethics. All majors can apply.</p>
    <button onclick="window.location.href='https://forms.gle/dLXYiLxsNJhKCJZX9'">APPLY</button>
  </div>
</section>
