---
layout: default
extra_stylesheets:
    - landing-alt.css
---
<div class="landing">
    <section class="intro-text">
        <div class="block">
            {{ content }}
        </div>
    </section>

    <!-- hiding (july 2022) until we have long term management plan 

    <section class="banner"> 
        {% assign posts = site.posts | sort: 'date' | reverse %}
        
        <h2>Announcements</h2>
        {% for post in posts limit:3 %}
            <span>
                {{ post.date | date: '%b %-d, %Y' }}
            </span>
            <div>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>
                    {{ post.snippet_landing }} 
                    <a href="{{ post.url }}">More</a>.
                </p>
            </div>
        {% endfor %}
    </section> 

    {% assign featured_posts = site.posts | where: "featured", 1 %}
    {% for post in featured_posts %}
        {% assign className = "parallax-one" %}
        {% assign mod2 = forloop.index | modulo: 2 %}
        {% if mod2 == 1 %}
            {% assign className = "parallax-two" %}
        {% endif %}
        <section>
            <div class="{{ className }}" id="{{ post.slug }}" style="background-image: url({{post.featured_image}})">
                <div class="content">
                    <h2><a href="{{ post.url }}" target="_blank">{{post.title }}</a></h2>
                    <h3>{{ post.date | date: '%B %-d, %Y' }}</h3>
                    {{ post.excerpt }}  
                    <a class="button" href="{{ post.url }}">Read more</a>
                </div>
            </div>
        </section>
    {% endfor %}

</div> -->
