---
layout: default
extra_stylesheets:
    - landing-alt.css
extra_scripts:
    - parallax.js
---

<section class="intro-text">
    <div class="block">
        {{ content }}
    </div>
</section>

<section class="banner">
    <h2>Announcements</h2>
    {% for post in site.posts %}
        <span>
            {{ post.date | date: '%B %-d, %Y' }}
        </span>
        <div>
            {{ post.snippet_landing }}
        </div>
    {% endfor %}
</section>


{% for post in site.posts %}
    {% assign className = "parallax-one" %}
    {% assign mod2 = forloop.index | modulo: 2 %}
    {% if mod2 == 1 %}
        {% assign className = "parallax-two" %}
    {% endif %}
    <section>
        <div class="{{ className }}" id="{{ post.slug }}" style="background-image: url({{post.featured_image}})">
            <div class="content">
                <h2><a href="{{ post.url }}" target="_blank">{{post.title }}</a></h2>
                <h3>{{ post.date | date: '%B %-d, %Y' }}</h3>
                {{ post.excerpt }}  
                <a class="button" href="{{ post.url }}">Read more</a>
            </div>
        </div>
    </section>
{% endfor %}

