<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Tree Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/treeLab_icon1.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/landing-alt.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/footer.css">
</head>

<body class="landing">
    {% include header.html %}
    <section>
        <div class="block">
            <p>
                <span class="first-character">T</span>he Technology, Race, Ethics, and Equity (TREE) Collective aims to research the intersections between technology, race, and ethics. We create learning experiences through demonstrations of how technology affects marginalized populations for students from under-served communities. We position our work as inclusive, in that we endeavor to address historic and contemporary disparities in inclusivity and social, racial and economic inequity. Furthermore, we work with teachers, students, community organizations and parents, in hope of supporting the development of interdisciplinary learning opportunities through a variety of mediums, including:
            </p>
            <ul>
                <li>Designing interdisciplinary activities with teachers and learners</li>
                <li>Creating accessible interfaces that broaden participation in technology and understanding its effects through meaningful learning experience</li>
                <li>Facilitating discussions with learners and faculty about the intersections of technology and ethics</li>
                <li>Innovating tools to build an equitable and ethical Computer Science education</li>
            </ul>
        </div>
    </section>
    <section class="banner" id="news">
        <div class="block">
            <h2>We Have Some Exciting Announcements!</h2>
            <ol>
                <li>Announcing the launch of BreakPoint NU, a student journal dedicated to examining technologies on Northwestern’s campus, Chicago, and beyond.</li>
                <li>YPRPT Launches three </li>
            </ol>
            <span class="scroll-button">Scroll Down</span>
        </div>
    </section>

    <section>
        <div class="parallax-two">

            <div class="content">
                <h2>Young People’s Race, Power, and Technology (YPRPT) Project: Documentary Film Screenings</h2>
                <h3>
                    Wednesday, June 17, 2020<br>
                    7:00 PM – 9:30 PM (CDT)
                </h3>
                <a class="button" href="https://www.eventbrite.com/e/policing-surveillance-a-yprpt-documentary-series-tickets-108922275458" target="_blank">Register Now</a>

                <p class="space-top-40">
                    <span class="first-character">I</span>n partnership with the TREE lab in Northwestern's School of Education and Social Policy, the Block Museum presents a special online screening of three documentaries produced by students of the Young People’s Race, Power, and Technology (YPRPT) project. YPRPT is an afterschool program, developed in partnership with community partners including Evanston Township High School, Family Matters, Endangered Peace, and the Lucy Parsons Labs, that brings together NU undergraduate students with youth and community members to jointly investigate the ethical and social dimensions of specific law enforcement technologies such as facial recognition and gang databases.

                </p>

                <p>
                    The screening will be introduced by professors Sepehr Vakil (Northwestern University) and Raphael Nash (DePaul University) and then followed by a live panel discussion between the YPRPT student filmmakers. The conversation will be moderated by Jessica Marshall (PhD student in Learning Sciences at Northwestern University School of Education and Social Policy).
                </p>

                <h3>Targeted</h3>
                <h4>
                    Filmmakers: David Lewis, Jessica Rodriguez, Izadorius Tortuga
                </h4>
                <p>
                    The documentary depicts how the gang database targets black and brown young men by labeling them as gang members in a database, which they can never get out of. This label causes irreparable damage to black and brown communities since being in the gang database can lead to eviction, not finding employment, and loss of scholarships. Because the police department does not notify individuals upon their placement into the database, this documentary also explores the Freedom of Information Act (FOIA) as a means of self-empowerment. We hope that this film causes awareness of a detrimental tool used against black and brown communities.
                </p>
            
                <h3>Racial Recognition</h3>
                <h4>
                    Filmmakers: Yuzuka Komiyama-Kasai, Gregory Voelkel
                </h4>
                <p>
                    In the last 25 years, Facial Recognition Technology transformed from a sci-fi movie gimmick to a go-to instrument used by police, governments and corporations alike. Now, Facial Recognition is present in our everyday lives; yet the technology is flawed, posing an immediate threat to marginalized communities and, on a broader scale, our collective civil liberties. Racial Recognition hopes to raise awareness and promote change within the world of Facial Recognition.
                </p>

                <h3>Melting ICE</h3>
                <h4>
                    Filmmakers: Eliana Chandra, Jazminé Morrow
                </h4>
                <p>
                    The topic of immigration has become more prevalent over the past few years. It is crucial to understand the role of ICE. They use technology such as social media to aid in their efforts of deportation and family separation. On the flip side, communities have taken up their own defenses and use technology to protect themselves from ICE. Melting Ice serves to expose ICE’s practices while uplifting and informing communities.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <div class="content">
                <h2>BreakPoint NU Launches</h2>
                <h3>June, 2020</h3>
                <p>As the founding members of the student journal contend:</p>
                <blockquote>
                    &ldquo;We find ourselves in a broken world, a world we often attempt to fix with technology. With all its perks, technology is normally touted as our path to that more equitable, shining future, a boon to save us from ourselves. But what if it’s not?&rdquo;
                </blockquote>
                <p>
                    ...some text to contextualize their work and its importance.
                </p>
                <p>
                    We have evidence to believe that often, technology does the opposite, re-entrenching us in our inequities, even without malicious intent. The onset of the Information Age has not solved the pernicious societal ills that have lingered with us since the beginning: oppression, exploitation, inequity, and all the nuanced ways in which innocent people have been setup to fail in their quests to live fulfilling, satisfying, and happy lives. And at what point do we break? Dreams, aspirations, bodies, communities, oppressions...at what point, and in which ways, is our tech contributing to, or creating, our fractured world?
                </p>
                <p>
                    This is what our journal seeks to take apart, reassemble, and hand back to you, our readers. We reanalyze technology and its effects, so that we may assist you in understanding your reality, and we hope this will aid us all in figuring out where we should be adjusting so that when the future arrives, we aren’t more oppressed than we are now. Breakpoint NU is a quarterly publication, examining technologies on Northwestern’s campus, Chicago, and beyond."
                </p>
                <a class="button" href="https://tree-in-education.github.io/BreakPointNU/" target="_blank">Read Now!</a>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="block">
            <h2>How We Work</h2>
            <p>
                <span class="first-character">T</span>he TREE Collective is a large and growing groups of over 30 undergraduate and graduate students from a wide breadth of disciplines. We hold a quarterly meeting of all the project groups to align our daily actions with the larger goals of the lab. On a weekly basis, students meet with their specific project groups and regularly have check-ins with Northwestern faculty or community partners who are overseeing their growth. On occasion, project groups do collaborate with one another. For example, when our Student Journal Breakpoint reported on the anti-militarism teach-ins conducted on Northwestern's campus.
            </p>
            <p>
                At the TREE Collective we encourage growth through any ethical means possible. We encourage students to initialize their own projects and pitch them to Northwestern faculty or collaborate with community organizations in the greater Chicago area. Also, Dr. Sepehr Vakil teaches a course SESP 351 Technology and Ethics that provides undergraduate students an introduction to critically thinking about the roles of privacy, government, and how technology influences communities.
            </p>
        </div>  
    </section> -->


    <section>
        <div class="block">
            <p>
                Interested in working with us as an undergraduate or graduate researcher?
            </p>
        </div>
    </section>

    {% include footer.html %}

    <script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/assets/js/tree.js" type="text/javascript"></script>
    <script>
        const logo = Tree('logo', {
            lineWidth: 0.5,
            branchingDepth: 10,
            animate: true,
            fontSize: '35px',
            speed: 5,
            delay: 1500,
            // showLabel: false,
            leafColor: 'rgba(135, 195, 143, 1)'
        });
    </script>
    
</body>
</html>
