---
layout: default
---

{{ content }}

<section class="news">
    {% for post in site.posts %}
        <div class="left">
            {% if post.featured_image %}
                <img src="{{ post.featured_image }}" />
            {% else %}
                <span class="featured-text">
                    <h3>{{ post.featured_text }}</h3>
                </span>
            {% endif %}
        </div>
        <div class="right">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <span class="date">{{ post.date | date: '%B %-d, %Y' }}</span>
            <p>
                {{ post.snippet }}
                <a href="{{ post.url }}">Learn more</a>.
            </p>
        </div>
    {% endfor %}
</section>
