---
layout: default
extra_stylesheets:
    - masonry.css
extra_scripts:
    - https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js
    - masonry.js
---
{{ content }}

{% assign faculty = site.people | where: 'type', "faculty" | sort: 'ordering' %}
{% assign community = site.people | where: 'type', "community" | sort: 'ordering' %}
{% assign phds = site.people | where: 'type', "phd" | sort: 'ordering' %}
{% assign undergrads = site.people | where: 'type', "undergraduate" | sort: 'ordering' %}

{% assign people = faculty | concat: community | concat: phds | concat: undergrads %}

<div class="masonry three">
    {% for person in people %}
        <div class="masonry-item" id="{{ person.slug }}">
            <div class="masonry-content">
                <img src="{{site.baseurl}}/{{ person.filename }}" alt="photo of person" />
                <h3 class="masonry-title">{{ person.name }}</h3>
                <h4>{{ person.role }}</h4>
                <div class="masonry-description">
                    {{ person.content }}
                    {% assign counter = 0 %}
                    {% for project in site.projects %}
                        {% for collaborator in project.collaborators %}
                            {% if collaborator.slug == person.slug %}
                                {% if counter == 0 %}
                                    <h4>Projects</h4>
                                {% endif %}
                                <a class="tag" href="../projects#{{ project.slug}}">{{ project.shortname}}</a>
                                {% assign counter = counter | plus: 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
