---
layout: default
---
{% assign all_collaborators = site.people | concat: site.partners %}

{{ content }}

<h4>Current Team Members</h4>
{% for pc in page.collaborators %}
    {% assign collaborator = all_collaborators | where:"slug", pc.slug | first %}
    {% if collaborator.role %}
        <a class="tag" href="../people#{{collaborator.slug}}">{{ collaborator.title }}</a>
    {% else %}
    <a class="tag" href="../partners#{{collaborator.slug}}">{{ collaborator.title }}</a>
    {% endif %}

{% endfor %}

{% if page.former_collaborators %}
    <h4>Former Team Members</h4>
    {% for pc in page.former_collaborators %}
        {% assign collaborator = all_collaborators | where:"slug", pc.slug | first %}
        {% if collaborator.role %}
            <a class="tag" href="../people#{{collaborator.slug}}">{{ collaborator.title }}</a>
        {% else %}
        <a class="tag" href="../partners#{{collaborator.slug}}">{{ collaborator.title }}</a>
        {% endif %}
    {% endfor %}
{% endif %}