---
layout: default
extra_stylesheets:
    - masonry.css
extra_scripts:
    - https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js
    - masonry.js
---
{{content}}

<div class="masonry two">
    {% for project in site.projects %}
        <div class="masonry-item" id="{{ project.slug}}">
            <div class="masonry-content">
                <img src="{{site.baseurl}}/{{ project.filename }}" alt="image of project" />
                <h3 class="masonry-title">{{ project.title }}</h3>
                <div class="masonry-description">
                    {{ project.content }}
                
                    <h4>Team Members</h4>
                    {% for collaborator in project.collaborators %}
                        {% if collaborator.slug %}
                            {% assign person = site.people | where:"slug", collaborator.slug | first %}
                            <a class="tag" href="../people#{{person.slug}}">{{ person.name }}</a>
                        {% else %}
                            <span class="tag">{{ collaborator.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
