---
layout: default
---

<!-- <article class="project">

  {% if page.filename %}
    <!-- <img src="{{site.baseurl}}/{{ page.filename }}"
        alt="Photo of a {{ page.title | downcase }}" style="width: 200px;"> -->
    <!-- {{ page.filename }}
  {% endif %}

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/individual_project.css">

<nav class="bigBar">
    <ul>
        <li><a href="index.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="people.html">People</a></li>
        <li><a href="how_we_work.html">How We Work</a></li>
        <li><a href="community_partners.html">Community Partners</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="tree-website-mockup.pdf" target="_blank">Wire Frames</a></li>
    </ul>
</nav>


<!-- main panel -->
<main>
  <h2 class="bigTitle">{{ page.projectTitle }}</h2>
  <!-- Slideshow container -->
  <div class="slideshow-container">
    {% assign i = 1 %}
    {% for image in page.images %}
    <div class="mySlides fade">
        <div class= "numbertext"> {{ i }} / {{ page.images | size }}</div>
        <div class= "image" style="background-image:url('{{site.baseurl}}/assets/images/{{image.url}}');"></div>
        <!-- <img src="{{site.baseurl}}/assets/images/{{image.url}}" style="width:100%"> -->
        <div class="text">{{image.caption}}</div>
      </div>
        {% assign i = i | plus: 1 %}
      {% endfor %}
  <!-- Full-width images with number and caption text -->


</article> -->

<section class="single-project-container">
  <div class="row">
    <div class="project-details">
      <h2 class="project-titles">Creative Technology</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
      </p>
      <div class="project-image" style="background-image: url('{{site.baseurl}}/{{ project.filename }}');"> </div>
      <p>
        Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!
      </p>
      <h3 class="project-titles">Virtual Reality</h3>
      <p>
        Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
      </p>
      <p>
        Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
      </p>
      <p>
        Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
      </p>
      <p>
        Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
      </p>
    </div>
    <div class="sidebar-project" class="order-first">
      <div class="categories">
        <h3 class="project-titles">Categories</h3>
        <li>
          <a href="#">Surveillance
            <span>(12)</span>
          </a>
        </li>
        <li>
          <a href="#">Ethics
            <span>(7)</span>
          </a>
        </li>
        <li>
          <a href="#">STEM Education
            <span>(3)</span>
          </a>
        </li>
        <li>
          <a href="#">Journalism
            <span>(22)</span>
          </a>
        </li>
        <li>
          <a href="#">Militarism
            <span>(13)</span>
          </a>
        </li>
      </div>
      <div class="recent-projects">
        <h3 class="project-titles">Recent Projects</h3>
        <div class="single-project_blurb">
          <a class="proj-img" style="background-image: url(assets/images/img1.jpg);"></a>
          <div class="text">
            <h3 class="heading">
              <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
            </h3>
          </div>
        </div>
        <div class="single-project_blurb">
          <a class="proj-img" style="background-image: url(assets/images/img2.jpg);"></a>
          <div class="text">
            <h3 class="heading">
              <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
  {% assign i = 1 %}
  {% for image in page.images %}
    <span class="dot" onclick="currentSlide({{i}})"></span>
  {% assign i = i | plus: 1 %}
  {% endfor %}
  </div>

  <section class="projectDetails">
    <p>
      <b>People</b>
      {% for person in page.people %}
        <br>{{person}}
        {% endfor %}
    </p>
</section>
  <section class= "projectDescription">
    <p>{{ page.content }}</p>
  </section>
</main>

<script type="text/javascript" src= "{{site.baseurl}}/assets/js/slideshow.js"></script>
