---
layout: default
extra_stylesheets:
    - masonry.css
extra_scripts:
    - https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js
    - masonry.js
    - projects.js
---
{{content}}

{% assign all_collaborators = site.people | concat: site.partners %}
{% assign projects = site.projects | sort: 'ordering' %}
<div class="masonry two">
    {% for project in projects %}
        <div class="masonry-item" id="{{ project.slug}}">
            <div class="masonry-content">
                <img src="{{site.baseurl}}/{{ project.filename }}" alt="image of project" />
                <h3 class="masonry-title">{{ project.title }}</h3>
                <div class="masonry-description">
                    {% if project.description %}
                        <p>{{ project.description }}</p>
                    {% else %}
                        {{ project.content }}
                    {% endif %}
                
                    <h4>Team Members</h4>
                    {% for pc in project.collaborators %}
                        {% assign collaborator = all_collaborators | where:"slug", pc.slug | first %}
                        {% if collaborator.type != "alum" %}
                            {% if collaborator.role %}
                                <a class="tag" href="../people#{{collaborator.slug}}">{{ collaborator.title }}</a>
                            {% else %}
                            <a class="tag" href="../partners#{{collaborator.slug}}">{{ collaborator.title }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
