---
layout: default
---
{{content}}
<section class="projects">
  {% for project in site.projects %}
  
    <div class="card">
      <div class="card-image" style="background-image: url('{{site.baseurl}}/{{ project.filename }}');"> </div>
      <div class="card-text">
        <div class="card-date">{{ project.date }}</div>
        <div class="card-people">{{ project.people }}</div>
        <a href="{{site.baseurl}}{{project.url}}"><h2>{{ project.title }}</h2></a>
        <p>{{ project.description }}</p>
      </div>
    </div>
  {% endfor %}
</section>

<!-- <section class="projects">
    {% for project in site.projects %}
    <!-- <section style="background-image: url('{{site.baseurl}}/{{ project.filename }}');">
        <a href="{{site.baseurl}}/{{project.url}}">{{ project.title }}</a><br>
        {{ project.filename }}
    </section> -->
    <!-- <section>
        <a href="{{site.baseurl}}{{project.url}}">{{ project.title }}</a><br>
        {{ project.filename }}
    </section>
    {% endfor %}
</section> --> -->
