---
layout: default
---

{{ content }}

<section class="publications">
    {% for publication in site.publications %}
       <!-- <div class="left">
            {% if publication.featured_image_publications %}
                <a href="{{ publication.url }}"><img src="{{ publication.featured_image_publications }}" /></a>
            {% elsif publication.featured_image %}
                <a href="{{ publication.url }}"><img src="{{ publication.featured_image }}" /></a>
            {% else %}
                <a class="featured-text" href="{{ publication.url }}">
                    <h3>{{ publication.featured_text }}</h3>
                </a>
            {% endif %}
        </div> -->
        <div class="right">
            <h2><a href="{{ publication.url }}">{{ publication.title }}</a></h2>
            <span class="date">{{ publication.date | date: '%B %-d, %Y' }}</span>
            <p>
                {{ publication.snippet }}
                <a href="{{ publication.url }}">Read more</a>.
            </p>
        </div>
    {% endfor %}
</section>

