.container{
grid-template-columns: 1fr;
grid-template-areas:
    "top"
    "menu"
    "main"
    "bottom";
}
main {
flex-direction: column;
justify-content: center;
align-items: stretch;
padding-left: 10vw;
padding-right: 10vw;
}

.comm_orgs {
display: flex;
flex-direction: row;
flex-wrap:wrap;
padding: 0px;
margin: 0px;
border: none;
margin-bottom: 40px;
}
.comm_orgs section {
border: dotted 1px #CCC;
width: 25%;
margin: 0px;
height: 250px;
justify-content: center;
align-items: center;
background: white;
}
/* BEGIN how hover effect on grid can be created */
.comm_org-list {
position: relative;
width: 100%;
}

.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}
.card {
background-size: cover !important;
background-position: center !important;
}
.comm_org-name {
transition: .5s ease;
opacity: 0;
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%); */
text-align: center;
}

.card:hover {
background-image-opacity: 0.1;
}

.card:hover .comm_org-name {
opacity: 1;
}

.text {
background-color: #8FB339;
color: white;
font-size: 16px;
padding: 16px 32px;
display: inline-flex;
}
/* END how hover effect on grid can be created */

@media (max-width: 800px) {
main {
    padding: 20px;
}
.people section {
    width: 100%;
    height: 200px;
}
}
